<section>
    
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
               
                <img class="img-fluid container w-50" src="/user-assets/ordersuces.jpeg" alt="">
                 <h3 class="text-center text-success">ORDER PLACED SUCCESSFULLY</h3>
                <a class="btn btn-success" href="/order-details">VIEW DETAILS</a>
            </div>
        </div>
    </div>

</section>





<
