<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>
     {{#if userExist}}
            <p style="color: red;">{{userExist}}</p>
            {{/if}}

            <form action="/signup" method="post" id="form">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                     <label class="form-label" for="form3Example1">First name</label>
                    <input type="text" id="form3Example1" name="Name" id="Name" class="form-control" required />
                   
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                     <label class="form-label" for="form3Example2">Last name</label>
                    <input type="text" id="form3Example2" name="lastName" id="lastName" class="form-control" required/>
                   
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                 <label class="form-label" for="form3Example3">Email address</label>
                <input type="email"  name="Email" id="Email" class="form-control" required/>
               
              </div>
            
               <!-- MobileNo input -->
               <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Mobile Number</label>
                <input type="number" name="mobileNo"  id="mobileNo" class="form-control" required/>
                
              </div>


              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Password</label>
                <input type="password"  name="password" id="password" class="form-control" required/>
                
              </div>

              <!--Confirm password -->
               <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Confirm Password</label>
                <input type="password"  name="confirmpassword" id="confirm-password" class="form-control" required/>
                <input type="checkbox" name="blockUser" value="" checked hidden>
              </div>


             

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>

              <!-- Register buttons -->
              <div class="text-center">
                <a href="/login"><p>already have an account</p></a>
                
              </div>
            </form>
          </div>
        </div>
      </div>

      <div  class="col-lg-6 mb-5 mb-lg-0">
        <img  src="https://api.powerlook.in/pub/media/catalog/product//d/p/dp_905.jpg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->