<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOULstroe</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" 
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
     


    <!-- Css Styles -->
    <link rel="stylesheet" href="/user-assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user-assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user-assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/user-assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user-assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user-assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user-assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user-assets/css/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

{{>user-header}}

{{{body}}}


{{>user-footer}}
     
        <!-- user validation -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
		integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

     

     

     <script src="/user-assets/js/jquery-3.3.1.min.js"></script>
    <script src="/user-assets/js/bootstrap.min.js"></script>
    <script src="/user-assets/js/jquery.nice-select.min.js"></script>
    <script src="/user-assets/js/jquery.nicescroll.min.js"></script>
    <script src="/user-assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/user-assets/js/jquery.countdown.min.js"></script>
    <script src="/user-assets/js/jquery.slicknav.js"></script>
    <script src="/user-assets/js/mixitup.min.js"></script>
    <script src="/user-assets/js/owl.carousel.min.js"></script>
    <script src="/user-assets/js/main.js"></script>
</body>

    

</html>